# Change the values in this file and save it as .env
DISCORD_BOT_TOKEN="CHANGE_ME"

NOTION_TOKEN="CHANGE_ME"
NOTION_DATABASE_ID="CHANGE_ME"

STORAGE_BUCKET="CHANGE_ME"

GITHUB_TOKEN="CHANGE_ME"

DATABASE_URL="CHANGE_ME"

S3_ACCESS_KEY_ID="CHANGE_ME"
S3_ACCOUNT_ID="CHANGE_ME"
S3_BUCKET_NAME="CHANGE_ME"
S3_SECRET_ACCESS_KEY="CHANGE_ME"